.container{
    text-align: center;
    justify-content: center;
    align-items: center;
   
}

.box{
    display: inline-block;
    height: 30vh;
    width: 17vw;
    border: red solid 2px;
    margin: 0px 10px;
    border-radius: 10px;
}
.container .box img{
    height: 29vh;
    width: 16vw;
    margin: 5px 5px;
    border-radius: 10px;
}